<h3>Product: <%= @product.name %></h3>
<h4>Rating: <%= @review.rating %> stars</h4>
<h4>"<%= @review.content_body %>"</h4>
<h4>By: <%= @review.author %></h4>

<%= link_to '<button type="button" class="button jello-horizontal">Back to Product</button>'.html_safe, product_path(@product) %>

<% if current_user %>
<% if current_user.admin %>
<%= link_to '<button type="button" class="button jello-horizontal">Edit Review</button>'.html_safe, edit_product_review_path(@product, @review) %>

<%= link_to '<button type="button" class="button jello-horizontal">Delete Review</button>'.html_safe, product_review_path(@product, @review), :data => {:confirm => "You sure?",
:method => "delete"}  %>

<% end %>
<% end %>
